.icon-button {
  -webkit-app-region: no-drag;
  color: rgba(37, 29, 29, 0.603) !important;
  cursor: pointer;
  font-size: 20px;
}

.icon-button:hover {
  color: rgb(177, 157, 157) !important;
}

.normal-button {
  margin: 0 3px;
}
