.app-layout {
  height: 100%;
  background-color: rgba(255, 255, 255, 1) !important;

  .app-sider {
    background-color: rgba(255, 255, 255, 1) !important;
    border-right: 1px solid #e8dede;
  }

  .app-header {
    background-color: rgba(255, 255, 255, 1) !important;
  }

  .app-content {
    background-color: rgba(255, 255, 255, 1) !important;
  }

  .app-footer {
    background-color: rgba(255, 255, 255, 1) !important;
  }
}
