.recording-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .recording-bar-duration {
    margin-left: 14px;
    color: black;
    font-size: 24px;
  }

  button {
    margin-right: 10px;
  }
}
